@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .reveal-text {
    --faded-color: #ccc;
    --highlighyed-color: #111;
    background-image: linear-gradient(
      to right,
      var(--faded-color),
      var(--faded-color)
    );
  }
}

@layer base {
  :root {
    --carousel-container-size: 1200px;
  }

  html {
    @apply bg-background selection:bg-cozyGreen selection:text-background;
  }

  @font-face {
    font-family: "Italiana";
    src: url("/fonts/italiana-regular-webfont.woff2") format("woff2"),
      url("/fonts/italiana-regular-webfont.woff") format("woff");
  }
  @font-face {
    font-family: "PoiretOne";
    src: url("/fonts/poiretone-regular-webfont.woff2") format("woff2"),
      url("/fonts/poiretone-regular-webfont.woff") format("woff");
  }
}
@layer utilities {
  .slide-center {
    transform: translateX(
      calc(
        max(var(--carousel-container-size), 100vw) / 2 -
          calc(var(--carousel-container-size) / 2)
      )
    );
  }
}
